<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
  <head>
    <title>header</title>
  </head>
  <body>
    <!--/* (1) */-->
    <div th:fragment="header" th:remove="tag">
      <div class="container">
        <div class="row">
          <div class="col-sm-10"><h1>体温計</h1></div>
          <div class="col-sm-2" sec:authorize="isAuthenticated()"><!--ログイン中のみ表示する-->
            <a th:href="@{/logout}">ログアウト</a>
            <div class="badge badge-secondary">ログイン中：<span sec:authentication="principal.username"></span></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>