<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
  <title>Thermo Monitor 新規登録</title>
</head>
<body>
<div class="container">
  <form th:action="@{/register}" method="post" th:object="${userRegisterForm}">
    <span class="text-danger" th:if="${errorMessage != null}" th:text="${errorMessage}"></span>
    <div class="form-group row">
      <label for="userIdField" class="col-sm-3 col-form-label">ユーザID(ログインIDになります) </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="userIdField" th:field="*{userId}" />
        <span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
        <small id="userIdHelp" class="form-text text-muted">必須</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="displayNameField" class="col-sm-3 col-form-label">ユーザ名(この名前が表示されます) </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="displayNameField" th:field="*{displayName}" />
        <span class="text-danger" th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}"></span>
        <small id="displayNameHelp" class="form-text text-muted">必須</small>
      </div>
    </div>
    <div class="form-group row">
      <label for="loginPasswordField" class="col-sm-3 col-form-label">パスワード</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="loginPasswordField" th:field="*{loginPassword}" />
        <span class="text-danger" th:if="${#fields.hasErrors('loginPassword')}" th:errors="*{loginPassword}"></span>
        <small id="loginPasswordHelp" class="form-text text-muted">必須</small>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3"></div>
        <input type="submit" name="confirm" class="btn btn-light" value="確認"></button>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-3"></div>
    <a th:href="@{/top}">ログインページに戻る</a>
  </div>
</div>
</body>
</html>