<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}">
<head>
  <title>Thermo Monitor TOP</title>
</head>
<body>
<div class="container">
  <div class="alert alert-secondary" th:insert="~{last_login :: last_login} ?: ~{}"></div>
  <div class="alert alert-danger" th:insert="~{thermo_template :: thermo_temp} ?: ~{}"></div>
</div>
</body>
</html>